option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    
commands:
  01_gunicorn:
    command: "pip install gunicorn"
    
container_commands:
  01_migrate:
    command: "python -c 'from src.app import create_app; from src.database import db; app = create_app(); app.app_context().push(); db.create_all()'"
    leader_only: true
